*[data-medal="gold"] { --medal-color: var(--medal--gold); }
*[data-medal="silver"] { --medal-color: var(--medal--silver); }
*[data-medal="bronze"] { --medal-color: var(--medal--bronze); }
*[data-medal="honorable"] { --medal-color: var(--medal--honorable); }

:is(tr, td, .participation.badge)[data-medal]:not([data-medal=""]) {
	background-color: var(--medal-color);
}

.badge {
	display: inline-flex;
	padding: 1px 4px;
	border-radius: 4px;
	margin-block: 1px;
	font-size: 14px;
}

.participation.badge {
	display: flex;
}
.participation.badge[data-medal]:not([data-medal=""]) {
	background: linear-gradient(to right, var(--medal-color), transparent);
}
.participation.badge > :not(:first-child):not(:empty)::before {
	content: '·';
	margin-inline: 2px;
}
.participation.badge .year {
	color: var(--text-mute);
}

.subject.badge {
	background-color: var(--background-accent);
}